<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daily.cost.mapper.TransactionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.daily.cost.entity.Transaction">
        <id column="id" property="id" />
        <result column="ledger_id" property="ledgerId" />
        <result column="user_id" property="userId" />
        <result column="category_id" property="categoryId" />
        <result column="type" property="type" />
        <result column="amount" property="amount" />
        <result column="payment_method" property="paymentMethod" />
        <result column="transaction_date" property="transactionDate" />
        <result column="remark" property="remark" />
        <result column="reimburse_status" property="reimburseStatus" />
        <result column="reimburse_relation" property="reimburseRelation" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
